@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Playwrite+ES+Deco:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playwrite+BE+WAL:wght@100..400&display=swap');


:root {
    --cor-primaria: #fdf6e7;
    --cor-secundaria: #fffcf5;
    --cor-terciaria:#AE7B37;
    --cor-hover: #E1AD37; 
    --cor-borda-post:#f7ebdc;
    
    --fonte-primaria: "Raleway", sans-serif;
    --fonte-secundaria: "Raleway", sans-serif;
    --fonte-post: "Crimson Text", serif;
    --fonte--assinatura:"Playwrite BE WAL", cursive;
}

* {
    margin: 0;
    padding: 0;
}

/* BODY */

/* @media print {
    footer {page-break-after: always;}
  } */

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    
}

/* CABEÇALHO */

.cabecalho__logo {
    display: flex;
    width: 30%;
    padding-left: 5%;
        
}

.cabecalho__container { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    /* background-color: var(--cor-primaria); */
    box-sizing: content-box;
    padding-right: 15%;

}

.cabecalho__menu {
    display: flex;
    box-sizing: content-box;
    gap: 60px;
    align-items: center;
    padding: 15% 0 0 0%;
    
}

.cabecalho__menu__link {
    display: flex;
    box-sizing: border-box;
    font-family: var(--fonte-secundaria);
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}


/* FEED CONTAINER */

.feed {
    /* height: 100vh */
    box-sizing: border-box;
    padding:  0 0% 0 4%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    gap: 65px;

}


/* FEED POST */

/* Estilos para a estrutura do feed de posts */
.feed__container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espaçamento entre os posts */
}

/* Estilos para cada post */
.feed__post_container {
    flex: 1 1 calc(50% - 16px); /* Divide em duas colunas, com margens entre elas */
    max-width: calc(50% - 16px); /* Largura máxima de cada post */
    margin-bottom: 16px; /* Espaçamento entre os posts */
}

/* Estilos para o título do post */
.post-title {
    margin-bottom: 16px; /* Espaçamento abaixo do título */
}

/* Estilos para o conteúdo do post na página inicial */
.post-excerpt {
    text-align: justify; /* Justifica o texto */
    margin-bottom: 16px; /* Espaçamento abaixo do resumo */
}

/* Estilos para a imagem destacada */
.post-thumbnail {
    margin-bottom: 16px; /* Espaçamento abaixo da imagem */
}

/* Estilos para a imagem destacada responsiva */
.full-width-thumbnail {
    width: 100%; /* Imagem ocupa toda a largura disponível */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços extras ao redor da imagem */
    border-radius: 8px; /* Borda arredondada */
}

/* Estilos para o conteúdo completo do post */
.post-content-full {
    text-align: justify; /* Justifica o texto */
}

.feed__post_titulo {
    text-align: center;
    margin: 2rem 0 5rem 0;
    font-size: 1.9rem;
    

}

.post p {
    margin: 2rem;
    font-size: 1.01rem;
    text-align: justify;
    font-family: var(--fonte-post);
    color: black;
    text-decoration: none;

}

ul li{
    margin: 0rem 0 1rem 2rem;
    font-size: 1.01rem;
    text-align: justify;
    font-family: var(--fonte-post);
    color: black;
    list-style: none;


}

h2 {
    margin-top: 5rem;
}

.assinatura {
    font-size: 2.25rem;
    font-family: var(--fonte--assinatura);
    margin-top: 5rem;
    
}



.img__post {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto 5% auto;
    width: 90%;
}


.link__continuar {
    padding: 1rem;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
}

.link__continuar:hover {
    color: var(--cor-hover);
}

/* LATERAL */

.lateral {
    display: flex;
    width: 40vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* vertical-align: text-top; */
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.1rem;
    padding-left: 5%;
    

}

.texto__sobre__mim {
    display: flex;
    margin: 5% auto 5% auto;
    font-size: 1.1rem;

}



.foto__sobre__mim {
    display: flex;
    margin: 5% auto 0 auto;
    width: 50%;
    border-radius: 48%;
    border: solid var(--cor-terciaria);
}

.tiktok-embed {
    height: 10%;
    box-sizing: content-box;
    display: block;
    flex-direction: column;
    align-items: center;
    /* width: 1%;
    height: 1%; */
    border-style: solid;
    border-radius: 10% ;
    border-color: var(--cor-terciaria);
    margin-bottom: 5%;


}

.rodape {  
    box-sizing: border-box;
    display: flex;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria); 
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 0.9rem;
    font-weight: 600;
    height: 1%;
    margin-top: 5%;
}

@media (max-width: 800px) {
    
    .cabecalho__logo {
        display: flex;
        width: 45%;
        padding-left: 0;
    }
    
    .cabecalho__container {
        flex-direction:column;
        padding: 0 0 0 0;
    }

    .cabecalho__menu {
        box-sizing: border-box;
        justify-content: center;
        
    }

    .cabecalho__menu__link {
        font-size: 1.2rem;
        width: auto;
        box-sizing: border-box;
    }
    
    .feed {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 5% 5% 5% 5%;
    }

    .feed__container {
        display: flex;
        flex-direction: column;
        padding: 5%;
        width: auto;
        text-size-adjust: auto ;
        padding: 0;
    }
    
    .feed__post_container{
        margin: 0;
        margin-bottom: 2rem;
    }

    .feed__post_titulo {
        font-size: 1.4rem;
    }

    .post p {
        margin: 0.9rem;

    }
    
    .img__post {
        display: flex;
        flex-direction: column;
        /* padding: 5%; */
        width: 100%;
        padding: 0;

    }

    h1 {
        margin: 5% auto 5% auto;
        font-size: 1.4rem;
        padding: 0;
    }

    h2 {
        margin: 5% auto 5% auto;
        font-size: 1.4rem;
        padding: 0;

    }

    .lateral {
        padding: 0;
        margin: 0;
    }

    .rodape {
        width: auto;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        text-align: center;
        font-size: 0.6rem;
        /* padding: 0; */
    }

    .tiktok-embed {
        margin: 5% 5% 5% 5%;
        padding: 0;
   } 
}
